name: ci

on:
  workflow_dispatch:
    inputs:
      cmake_build_type:
        description: "The CMake build type to use"
        type: choice
        required: true
        default: Release
        options:
          - Release
          - Debug
          - RelWithDebInfo
  push:

env:
  CMAKE_BUILD_TYPE: ${{ github.event.inputs.cmake_build_type || 'Release' }}
  GITHUB_IMAGE_NAME: 851725450642.dkr.ecr.us-west-2.amazonaws.com/gizmosql
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_REGION: ${{ secrets.AWS_REGION }}

jobs:
  build-project-linux:
    name: Build Project - Linux
    strategy:
      matrix:
        include:
          # - platform: amd64
          #   os: linux
          #   runner: codebuild-gizmosql-build-runner-${{ github.run_id }}-${{ github.run_attempt }}
          - platform: arm64
            os: linux
            runner: codebuild-gizmosql-build-runner-arm-${{ github.run_id }}-${{ github.run_attempt }}
    runs-on: ${{ matrix.runner }}
    env:
      zip_file_name: gizmosql_cli_${{ matrix.os }}_${{ matrix.platform }}.zip
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install build requirements
        run: |
          # If running on arm64, start docker daemon
          if [ "${{ matrix.platform }}" = "arm64" ]; then
            sudo mkdir -p /sys/fs/cgroup/docker
            nohup /usr/bin/dockerd --host=unix:///var/run/docker.sock --host=tcp://127.0.0.1:2375 > /dev/null 2>&1 &
            timeout 30 sh -c "until docker info; do echo .; sleep 1; done"
            docker --version
          fi

          docker buildx create --use --name mybuilder --driver docker-container
          aws --version

      - name: get caller identity2
        run: |
          aws ecr get-login-password --region us-west-2 | docker login --username AWS --password-stdin 851725450642.dkr.ecr.us-west-2.amazonaws.com

      - name: Configure Project
        uses: threeal/cmake-action@v2.1.0
        with:
          generator: Ninja
          run-build: true
          options: |
            CMAKE_BUILD_TYPE=${{ env.CMAKE_BUILD_TYPE }}

      - name: Zip artifacts
        run: |
          mv build/gizmosql_server build/gizmosql_client .
          zip -j ${{ env.zip_file_name }} gizmosql_server gizmosql_client

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.zip_file_name }}
          path: |
            ${{ env.zip_file_name }}

      - name: Build and push full Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/${{ matrix.platform }}
          file: Dockerfile.ci
          push: true
          tags: |
            ${{ env.GITHUB_IMAGE_NAME }}:${{ github.sha }}
          no-cache: true
          provenance: false
